@model HotDesk.ViewModels.ReservationViewModel
@{
    ViewData["Title"] = "Edit Reservation Devices";
}

<body class="admin-page">
    <div class="status">
        Вы авторизованы под логином @User.Identity.Name
    </div>
    <ul class="navigation">
        <li><a asp-action="Workplaces" asp-controller="Admin">Менеджер рабочих мест</a></li>
        <li><a asp-action="Devices" asp-controller="Admin">Менеджер устройств</a></li>
        <li><a asp-action="Reservations" asp-controller="Admin">Менеджер бронирований</a></li>
        <li class="anchor-right"><a asp-action="Logout" asp-controller="Account">Выйти</a></li>
    </ul>
    <div>
        <h1>Информация о бронировании</h1>
        <div>
            <table>
                <tr>
                    <td>Номер бронирования</td>
                    <td>@Model.Reservation.Id</td>
                </tr>
                <tr>
                    <td>Дата бронирования:</td>
                    <td>@Model.Reservation.Date.ToShortDateString()</td>
                </tr>
                <tr>
                    <td>Забронированные устройства</td>
                    <td>
                        @Model.Reservation.Devices
                        @* @foreach (var device in Model.Reservation.Devices)
                    {
                        @device.Name <br />
                    }*@
                    </td>
                </tr>
               @* <tr>
                    <td>
                        <form asp-action="CancelReservation" asp-controller="Admin">
                            <button class="btn-info" type="submit" name="reservationId" value="@Model.Reservation.Id">Отменить бронирование</button>
                        </form>
                    </td>
                </tr>*@
            </table>
            <form class="form-container" asp-action="Reservations" asp-controller="Admin" method="post">
                @foreach (var device in Model.AllDevices)
                {
                    <div class="device-form-group">
                        <label>@device.Name</label>
                        <input type="checkbox" name="deviceIds" value="@device.Id" />
                    </div>
                }
                <input type="text" name="reservationId" value="@Model.Reservation.Id" hidden />
                <button type="submit">Обновить информацию</button>
            </form>          
        </div>
    </div>
</body>